PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/the-daily-web
SESSION_SECRET=supersecret_session_key_change_in_production
JWT_SECRET=supersecret_jwt_key_change_in_production
NODE_ENV=development
OPENWEATHER_API_KEY=
WEATHER_CITY=Tel Aviv,IL
